/* =====================================================================================================================
 * Global
 * =====================================================================================================================
*/

a {
    color: #2C699E;
}

strong {
    color: #2C699E;
}

body {
    padding-bottom: 40px;
    color: #5a5a5a;
   /* background-image: url(/img/Background_texture_kraken.io-lossless.png); */

}

/* =====================================================================================================================
 * ------------------------------------------------- Header Adullact ---------------------------------------------------
 * =====================================================================================================================
*/

#parentship {
    text-align: center;
    background-color: #BCCDEB;
    color: #615454;
    font-size: 14px;
    padding-top: 12px;
}

/* =====================================================================================================================
 * ------------------------------------------------- Navbar ------------------------------------------------------------
 * =====================================================================================================================
*/

/*.nav-cdl {
    position: absolute;
    left: 25%;
    bottom: 15px;
}*/

.navbar-toggle .icon-bar {
    background-color: #2C699E;
}

.navbar-default .navbar-nav > li > ul > li > a nav {
    text-transform: uppercase;
}

.navbar {
    margin-bottom: 0;
    min-height: 150px;
    background-color: #FFFFFF;
    box-shadow: 8px 8px 8px rgba(87, 87, 86, 0.4);
    border: none;
}

.navbar-brand {
    padding-top: 5px;
    padding-bottom: 5px;
    height: auto;
}

.navbar a,
.subnav a {
    text-decoration: inherit;
}

.nav,
.nav ul,
.nav li {
    list-style: none;
    font-size: 24px;
}

.mainSearchElement {
    margin-bottom: 2em;
}

#navbar-mainMenu {
    z-index: 1;
}

/* ---------------------------------------------------------------------------------------------------------------------
 * Nav: min-width 768px
 */

@media (min-width: 768px) and (max-width: 1020px) {
    .navbar-brand img {
        position: relative;
        left: -70px;
        width: 200px;
    }
}


@media (min-width: 768px) {

    #navbar-mainMenu a:hover,
    #navbar-mainMenu a:focus {
        background-color: transparent;
    }

    .nav,
    .nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .nav {
        float: left;
        margin: 0;
    }

    .nav ul {
        background: #FFFFFF;
        position: absolute;
        z-index: 10;
        top: 1.5em;
        left: -9999px;
        opacity: 0;
    }

    .nav li {
        float: left;
        position: relative;
        color: #2C699E;
    }

    .nav li > a {
        /*float: left;*/
        padding: 16px;
        color: #2C699E;
        display: initial;
    }

    .nav li > a:hover,
    .nav li > a:focus {
        background: #FFFFFF;
    }

    .nav li:focus > a,
    .nav li:hover > a {
        background: #FFFFFF;
    }

    .nav > li:first-child > a {
        border-left: 0;
    }

    .nav > li:last-child > a {
        border-right: 0;
    }

    .nav li:hover ul,
    .nav li:focus ul,
    ul.show-menu {
        left: 0;
        opacity: 0.99;
    }

    .nav ul li {
        float: none;
        position: static;
    }

    .nav ul a {
        float: none;
        display: block;
        color: #2C699E;

        text-shadow: none;
        border-bottom: 1px solid #e7e7e7;
        -webkit-transition: 0.1s linear all;
    }

    .nav ul,
    .nav ul li:last-child a {
        border: 0;
    }

    .nav ul a:hover,
    .nav ul a:focus {
        background: #E1E3E9;
        color: #2C699E;
        text-shadow: none;
    }

    .rightMenu > li > a {
        padding: 16px 8px 16px 8px;
    }
}

.nav > li > a:focus,
.nav > li > a:hover {
    text-decoration: underline;
}

/* Color should be different for current entry */
.nav li.current {
    font-weight: bold;
}


.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #2C699E;
    background-color: #16213C;
}

.navbar-toggle {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #F0C425;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #1F2E54;
}

.navbar-default .navbar-nav > li > ul > li > a {
    color: #2C699E;
}

.navbar-default .navbar-nav > li > ul > li > a:hover,
.navbar-default .navbar-nav > li > ul > li > a:focus {
    color: #000;
    background: #FFFFFF;
}

.navbar-collapse {
    max-height: 500px;
}

/* ---------------------------------------------------------------------------------------------------------------------
 * Sub-nav
 */

.subnav {
    position: absolute;
}

[data-visually-hidden="true"] {
    display: none;
}

[data-visually-hidden="false"] {
    display: block;
}

/* end sub-nav */

.current,
li.current {
    background: #FFFFFF;
    text-decoration: #0a4965;
}

.cdl-navbar-logo {
    margin: 15px 60px;
}

.cdl-navbar-logo-link {
    margin: 25px 60px;
}

span.cdl-navbar-logo,
a.cdl-navbar-logo {
    padding-top: 0;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 0;
}

/* =====================================================================================================================
 *-------------------------------------------------- Page Home -----------------------------------------------------
 * =====================================================================================================================
*/
.jumbotron-cdl>p{
    font-size: 1.9em;
    /*font-style: italic;*/
    color: #0069B4;
    text-align: left;
    line-height: 1;
}
.jumbotron-cdl>h2{
    color: #004999;
    font-size: 2.5em;
    font-weight: bold;
    /*font-style: italic;*/
    text-align: left;
    margin: 1em 0 0.4em 0
}

.jumbotron-cdl {
    margin-top: 1em;
}

/*.jumbotron-cdl a {*/
    /*font-size: 1em;*/
    /*color: #0e4194 ;*/
/*}*/

.accent {
    color: #00A14A;
    font-weight: bold;
    font-size: 1.5em;
}

.accentText {
    color: #00A14A;
    font-weight: bold;
}

/* ---------------------------------------------------------------------------------------------------------------------
 * FEDER promotion regulations
 */

#Feder-logo{
    display:block;
    width: 25%;
    margin: 1em 0 0.4em 37.5%;

}

/* =====================================================================================================================
 *-------------------------------------------------- Page Software -----------------------------------------------------
 * =====================================================================================================================
 */

/* ---------------------------------------------------------------------------------------------------------------------
 * Software-unit
 */

.metric-score {
    display: inline-block;
}

.software-unit .score,
ul .score,
.metric-score .score,
.allLink {
    display: inline-block;
}

.software-unit-see-more p {
    font-size: 500%;
    text-align: center;
}

/* ---------------------------------------------------------------------------------------------------------------------
 * Score
 */

.score {
    color: black;
    background: white;
    border: 2px solid #E1E1E1;
    padding: 5px;
    min-width: 3em;
    min-height: 2.5em;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    font-size: 1em;
    position: relative;
    bottom: 8px;
}

.score_low {
    color: black;
    background-color: #FF2020;
    font-weight: bold;
    max-width: 3em;
    max-height: 3em;
}

.score_medium {
    color: black;
    background-color: #FF8020;
    font-weight: bold;
    max-width: 3em;
    max-height: 3em;

}

.score_high {
    color: black;
    background-color: #20C0C0;
    font-weight: bold;
    max-width: 3em;
    max-height: 3em;
}

.score_best {
    color: black;
    background-color: #9ACD32;
    font-weight: bold;
    max-width: 3em;
    max-height: 3em;
}

.score_NA {
    color: black;
    background-color: #827C7C;
    font-weight: bold;
    max-width: 3em;
    max-height: 3em;
}

.score_percent {
    color: gray;
    font-size: 60%;
}

.rating {
    display: inline-block;
    margin-left: 1em;
}

.rating-unit {
    /*! float: right; */
    font-size: 1.5em;
    position: absolute;
    bottom: 1.2em;
    margin: 0 auto;
    left: 50%;
    margin-left: -2.4em;
}

.rating-star {
    color: #00A14A;
    font-size: 1.25em;
}
    .rating-star .sr-only {
        color: black;
    }

.rating-star-unit {
    color: #00A14A;
}

.abbr {
    border-bottom: none;
}

/* ---------------------------------------------------------------------------------------------------------------------
 * Badges
 */

.stamp {
    float: right;
    bottom: 0;
}

.badge {
    color: #444444;
    border-radius: 2px;
    border: 2px solid #E1E1E1;
}

.badgeAdministration {
    background-color: #D5EEEF;
}

.badgeCompany {
    background-color: #E7D0F6;
}

.badgeAsso {
    background-color: #FDD8E9;
}

.badgePerson {
    background-color: #cccdfd;
}

/* ---------------------------------------------------------------------------------------------------------------------
 * Software Summary
 */

.align h1,
.align h2,
.align span,
.align p,
.align ul {
    display: inline-block;
}

/* Fix previews rule for /fr/users/providers */
.align div.subtitle p {
    display: block;
}

.allSee {
    margin-left: 3em;
}

.countSection {
    font-family: cursive;
    font-weight: bold;
    margin-left: 10px;
}

.softTitle {
    display: block;
    text-align: center;
}

.software-unit-home > a {
    font-size: 18px;
    color: #0069B4;
    font-weight: bold;
}

.project-description {
    font-size: 16px;
}


/*
************************* Tags
*/
.listSoftwareTag{
    margin: 12px 0px 0px 0px;
}

.tagsPlace{
    display: inline;
}

li .tagsContainer{
    padding-left: 0px;
}

div .tagsPlace{
    padding-right: 5px;
}




/*
*** Background-color => Pantone Jaune minion -> VALIDEEEEEEEE
 */
.tagUnit{
    display: inline-block;
    background-color: #2A874B;
    color : #E0E0E0;
    border: 1px solid #E0E0E0;
    border-radius: 4px 4px 4px 4px;
    min-height: 2em;
    padding: 3px 5px 0px 5px;
    margin-bottom: 2px;
}
.tagUnit:hover {
    border: 1px solid #103e10;
}
.tagUnit:active {
    background-color: black;
}


/*
*** on Tags Page
 */
.tagCell{
    padding: 4px 4px 4px 4px;
    min-height: 2em;
}




/* ---------------------------------------------------------------------------------------------------------------------
 * Review
 */

.blockReview {
    background-color: #FFFFFF;
    border: 2px solid #E1E1E1;
    min-height: 17em;
    margin: 10px 0 15px 0;
    padding: 5px 25px 5px 25px;
}

.linkItem {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 50%;
}

.linkItemAllArea {

    height: 100%;
}

.AsideReview  > p {
    font-size: 20px;
    margin : 0.2em;
    text-align: center;
}

.AsideReview  {
    z-index: 3;
    border-right: #00A14A;
    border-style: none solid none none;
}

.AsideReview  > p > a {
    color : #0069B4;
    font-size: 0.7em;
    font-weight: bold;
}

/* ---------------------------------------------------------------------------------------------------------------------
 * Metric table
 */

table th {
    background-color: #006C88;
    color: #FFFFFF;
}

.datacellnumber {
    text-align: right;
}

/* ---------------------------------------------------------------------------------------------------------------------
 * Metric accordion
 */

[aria-hidden="true"] {
    display: none;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1em;
}

h3 button[aria-expanded="false"]::before {
    /*content: '\25ba\0020';*/
    content: '+';
}

h3 button[aria-expanded="true"]::before {
    /*content: '\25bc\0020';*/
    content: '-';
}

/* =====================================================================================================================
 *-------------------------------------------------- Footer ------------------------------------------------------------
 * =====================================================================================================================
*/

footer {
    text-align: center;
    margin-top: 5em;
}

footer .footer-version {
    margin-top: 4em;
    font-size: 90%;
}

/* =====================================================================================================================
 * -------------------------------------------------- Page All Screenshot------------------------------------------------
 * =====================================================================================================================
*/

.screenShot {
    width: 100%;
    margin-bottom: 1em;
}

.screenShot .size-logo {
    height: 11em;
    margin-top: 1em;
}

.screenShot .size-logo img {
    max-height: 10em;
    margin: 0 auto;
}

/* =====================================================================================================================
 * -------------------------------------------------- All Pages -------------------------------------------------------
 * =====================================================================================================================
*/

main {
    width: 98%;
    margin: auto;
}

main {
    padding: 20px;
}
@media (min-width: 768px) {
    main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.cdl-paginator{
    text-align: center;
}

.backgroundbody {
    background-color: #F0F1F4;
}

.backgroundUnit {
    background-color: #FFFFFF;
    border: 1px solid #BCCDEB;
    /*! border-radius: 5px 5px 5px 5px; */
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.18);
}

section h2 {
    margin-top: 2em;
    margin-bottom: 0.5em;
}

section p {
    margin-top: 0.8em;
}

.addmore {
    margin-top: 2em;
    float: right;
    border: 2px solid #D9D9DE;
    font-size: 15px;
    color: #FFFFFF;
    text-decoration: #fff;
    background-color: #2A874B;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.18);
}

.inactive-button{
    margin-top: 2em;
    float: right;
    border: 2px solid #D9D9DE;
    font-size: 15px;
}


.addmore:hover {
    margin-top: 2em;
    float: right;
    border: 2px solid #103e10;
    font-size: 15px;
    color: #FFFFFF;
    text-decoration: #fff;
    background-color: #2A874B;
    box-shadow: 12px 12px 17px rgba(0, 0, 0, 0.18);
}

.btn-edit, .btn-edit:hover  {
    margin-top: 2.5em;
    margin-right: 2em;
}

.container_btn-participate {
    float: right;
    height: auto;
}
.clearFloat {
    clear: both;
    height: 0; overflow: hidden; /* Précaution pour IE 7 */
}

.edit-software,
.edit-software:hover {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 20px;
    border: 2px solid #D9D9DE;
    font-size: 15px;
    color: #FFFFFF;
    text-decoration: #fff;
    background-color: #2A874B;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.18);
}

.edit-software:hover {
    border: 2px solid #103e10;
}

a.link-user-edit-profil {
    margin-right: 1em;
}

.contact-user,
.contact-user:hover {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 20px;
}

.addmore a {
    color: #fff;
}

.removeOne {
    margin-top: 2.5em;
    float: right;
    border: 2px solid #D9D9DE;
    font-size: 15px;
    color: #0E0E0E;
    text-decoration: #fff;
    background-color: #ED4D60;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.18);
}

.removeOne:hover {
    margin-top: 2.5em;
    float: right;
    border: 2px solid #8b0719;
    font-size: 15px;
    color: #0E0E0E;
    text-decoration: #fff;
    background-color: #ED4D60;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.18);
}

.removeOne a {
    color: #404040;
}

.unit-see-more p {
    font-size: 500%;
    text-align: center;
}

p strong,
.software-license strong {
    color:unset;
}

.breadcrumb{
    background-color: transparent;
}

.breadcrumb > li + li:before {
    content:"\003e"; /* \003e = '>' */
    color: grey;
}
.breadcrumb >.active{
    color: red;
}


nav .breadcrumb [aria-current="page"],
footer [aria-current="page"] {
    color: #000;
    font-weight: 700;
    text-decoration: none;
}

nav .breadcrumb a[aria-current="page"]:hover,
footer [aria-current="page"]:hover {
    text-decoration: underline;
}

/* =====================================================================================================================
 * ---------------------------------------------- FORMS -----------------------------------------------------------
 * =====================================================================================================================
 */
form {
    margin: 0 0 1rem
}

form .row .row {
    margin: 0 -0.5rem
}

form .row .row .column,
form .row .row .columns {
    padding: 0 0.5rem
}

form .row .row.collapse {
    margin: 0
}

form .row .row.collapse .column,
form .row .row.collapse .columns {
    padding: 0
}

form .row .row.collapse input {
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0
}

form .row input.column,
form .row input.columns,
form .row textarea.column,
form .row textarea.columns {
    padding-left: 0.5rem
}

.error label,
.error label.error {
    color: #f26b6b;
}

form .error-message {
    display: block;
    padding: 0.375rem 0.5625rem 0.5625rem;
    margin-top: -1px;
    margin-bottom: 1rem;
    font-size: 0.85em;
    font-weight: normal;
    font-style: italic;
    color: #2B2B2B;
    background-color: #f26b6b;

}

.asterisk {
    color: #f26b6b;
}

.warning-form {
    border-radius: 4px;
    line-height: 2.5em;
}


.addmore-form{
    display: inline-block;
    float: right;
}

/* =====================================================================================================================
 * ---------------------------------------------- FORMS > form_fieldsetRadio -------------------------------------------
 * =====================================================================================================================
 */
.form_fieldsetRadio {

}
.form_fieldsetRadio legend {
    margin: 0.5em 0;
}
.form_fieldsetRadio > div {
    margin: 0;
    padding: 0;
}
.form_fieldsetRadio label {
    display: block;
    padding-left: 2em;
}
.form_fieldsetRadio label:hover {
    background-color: lightgrey;
}
.form_fieldsetRadio > div > label > input[type="radio"] {

}



/* ---------------------------------------------------------------------------------------------------------------------
 * Navbar search form
 */

#navbar-search {
    margin: 0 0 20px;
}

/* ---------------------------------------------------------------------------------------------------------------------
 * Navbar user profil menu
 */
#userProfil-nav {
    margin-left: 2em;
    min-width: 9em;
}

#userProfil-nav > a {
    padding-left: 0;
}

#userProfil-nav li {
    background-color: #d9d9d9;
    border-bottom: 1px solid silver;
}
#userProfil-nav li:first-child {
    border-top: 1px solid silver;
}

/* ---------------------------------------------------------------------------------------------------------------------
 * Software filters
 */

.searchFormFilters {
    margin-bottom: 2em;
}

.searchFormFilters .input-group {
    margin-right: 10px;
}

/* =====================================================================================================================
 * ---------------------------------------------- FLASH messages -------------------------------------------------------
 * =====================================================================================================================
 */

div.messagesContainer {
    padding: 0;
}

    .flashMsgWrapper {
        display: flex;
        cursor: pointer;
        margin-bottom: 0.4em;
    }
    .flashMsgWrapperSuccess {
        background: #A9EDB8;
    }
        .flashMsgWrapper > .msgOnlyBefore {
            padding-right: 0;
            margin-bottom: 0;
        }
        .flashMsgWrapper > .msgNoBefore {
            padding-top:    0.65em;
            padding-right:  0.30em;
            padding-bottom: 0.65em;
            padding-left: 0;
            margin-bottom: 0;
            line-height: initial;
        }
        .flashMsgWrapper > .msgNoBefore::before {
            display: none;
        }


div.message {
    cursor: pointer;
    display: block;
    font-weight: normal;
    padding: 0 2.5rem 0 2.5rem;
    transition: height 300ms ease-out 0s;
    background-color: #A9EDB8;
    color: #626262;
    overflow: hidden;
    line-height: 2.5em;
    margin: 0 0 0.4em;
}

div.message:before {
    line-height: 0;
    font-size: 20px;
    height: 12px;
    width: 12px;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    left: -11px;
    background-color: #FFF;
    padding: 12px 14px 12px 10px;
    content: "i";
    color: #a0d3e8;
    font-weight: bold;
}

div.message.error {
    background-color: #f26b6b;
    color: #2d2d2d;
}

div.message.error:before {
    padding: 10px 18px 14px 7px;
    color: #5a5a5a;
    content: "x";
}

div.message.hidden {
    height: 0;
}

.home-header {
    background-color: #d8d8d8;
    color: #5a5a5a;
}

.small-header {
    color: #5a5a5a;
}

img.img-placeholder {
    display: block;
    max-height: 10em;
}



/* =====================================================================================================================
 * ---------------------------------------------- MEDIA QUERIES --------------------------------------------------------
 * =====================================================================================================================
 */

/* ---------------------------------------------------------------------------------------------------------------------
 * min-width 300px
 */

@media screen and (min-width: 300px) {

    #parentship-logo {
        width: 100px;
        padding-bottom: 10px;
    }

    main h2 {
        margin: 0.8em 0 0.8em 0;
    }

    .size-box {
        min-height: 18em;
    }

    .software-unit-home {
        min-height: 20em;
        padding: 10px;
        margin: 0 0 20px 0;

    }

    .software-unit-all {
        min-height: 18em;
        margin-bottom: 2em;
        padding: 10px;
        max-width: 25em;
    }

    .user-unit-home {
        min-height: 17em;
        padding: 10px;
        margin-bottom: 20px;
    }

    .user-unit-all {
        min-height: 17em;
        padding: 10px;
        margin-bottom: 2em;
        max-width: 25em;
    }

    .review-unit-home {
        min-height: 17em;
        padding: 10px;
        margin-bottom: 20px;
    }

    .review-unit-all {
        min-height: 17em;
        padding: 10px;
        margin-bottom: 2em;
        max-width: 25em;
    }

    h2.size-title {
        font-size: 18px;
        /*! display: table-cell; */
        vertical-align: middle;
        margin: 0 5px 10px 5px;
    }

    .size-logo {
        height: 6em;
        margin: 0 auto;
    }

    .size-logo > a > img {
        max-height: 4em;
        margin: 0 auto;
    }

    .size-logo-overview {
        min-height: 12em;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        display: flex;
    }
}

/* ---------------------------------------------------------------------------------------------------------------------
 * min-width 768px
 */

@media (min-width: 768px) {

    div.messagesContainer {
        padding: 0 10%;
    }

    .cdl-navbar-logo {
        margin: 15px 75px;
    }

    .cdl-navbar-logo-link {
        margin: 25px 75px;
    }

    span.cdl-navbar-logo,
    a.cdl-navbar-logo {
        padding-top: 0;
        padding-right: 15px;
        padding-left: 15px;
        padding-bottom: 0;
    }

    .nav-pull-down{
        position: absolute;
        right:0;
        left:unset;
        bottom:15px;
    }
    .nav-pull-down-right{
        position: absolute;
        right: 0;
        bottom: 0;
    }

    #parentship-logo {
        width: 90px;
        margin-top: 6px;
    }

    main h2 {
        margin: 0.8em 0 0.8em 0;
    }

    .size-box {
        min-height: 18em;
    }

    .software-unit-home {
        height: 19em;
        padding: 10px;
        margin: 0 0 30px 0;
    }

    .software-unit-all {
        height: 19em;
        margin-bottom: 2em;
        padding: 10px;
    }

    .review-unit-home {
        min-height: 17em;
        padding: 10px;
        margin-bottom: 20px;
    }

    .review-unit-all {
        min-height: 17em;
        padding: 10px;
        margin-bottom: 2em;
    }

    .user-unit-home {
        min-height: 17em;
        padding: 10px;
        margin-bottom: 20px;
    }

    .user-unit-all {
        min-height: 17em;
        padding: 10px;
        margin-bottom: 2em;
    }

    .size-title {
        height: 2em;
        display: table-cell;
        vertical-align: middle;
    }

    .size-logo {
        height: 6em;
        margin: auto;
        padding-bottom: 12px;
    }

    .size-logo > a > img {
        max-height: 6em;
        margin: 0 auto;
    }

    .size-logo-overview {
        min-height: 10em;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    /*
    ***** search button
    */
    .search,
    .filter {
        background-color: #0069B4;
        color: #F5F5F5;
        border: 1px solid #0069B4;
    }

    .search:hover,
    .filter:hover {
        background-color: #0069B4;
        color: #F5F5F5;
        border: 1px solid black;
    }

    .filter {
        margin-top: 22px;
    }
}

/* ---------------------------------------------------------------------------------------------------------------------
 * min-width 1280px
 */

@media (min-width: 1280px) {

    div.messagesContainer {
        padding: 0 20%;
    }

    .nav-pull-down{
        position: absolute;
        left:25%;
        bottom:15px;
    }

    .nav-pull-down > li {
        margin-left: 1.5em;
        font-size: 1.08em;
    }

    .clean-nav {
        margin-right: 2.5em;
    }

    main h2 {
        margin: 1em 0 0.8em 0;
    }

    .size-box {
        min-height: 18em;
    }

    .software-unit-home {
        min-height: 25em;
        padding: 15px;
        margin-bottom: 10px;
        position: relative;
    }

    .software-unit-all {
        min-height: 22em;
        border: 2px solid #EFEFEF;
        margin-bottom: 2em;
        padding: 10px;
    }

    .user-unit-home {
        min-height: 17em;
        padding: 10px;
    }

    .user-unit-all {
        min-height: 17em;
        padding: 10px;
        margin-bottom: 2em;
    }

    .size-title {
        height: 2em;
        display: table-cell;
        vertical-align: middle;
        /*! margin: 0 5px 10px 5px; */
    }

    .size-logo {
        height: 7em;
        margin: auto;
        margin-top: 2em;
        padding-bottom: 12px;
    }

    .size-logo > a > img {
        max-height: 6em;
        margin: 0 auto;
    }

    .size-logo-overview {
        min-height: 12em;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .img-overview {
        min-height: 12em;
    }

    .search {
        margin-right: 100px;
    }

    .navbar-toggle { /* #0C536B blue theme*/
        position: relative;
        float: right;
        padding: 9px 10px;
        margin-top: 8px;
        margin-right: 15px;
        margin-bottom: 8px;
        background-color: transparent;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }

    .navbar-toggle .icon-bar {
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
        color: black;
        background-color: #0C536B;
    }

    .row > a {
        color: #2C699E;
    }
}

/* =====================================================================================================================
 * ---------------------------------------------- Tooltip --------------------------------------------------------------
 * =====================================================================================================================
 */

.indicator {
    position: absolute;
    margin-top: 2em;
}

i + [role="tooltip"] {
    display: none;
    padding: 5px 12px;
    position: absolute;
    margin-left: 2em;
    margin-top: 1em;
}

i:hover + [role="tooltip"] {
    display: inline-block;
    padding: 5px 12px;
    position: absolute;
    margin-left: 2em;
    margin-top: 1em;

}


div.pageUpdate {
    text-align: right;
    margin-top: 3em;
    border-top: 1px solid #CCC;
}

/* =====================================================================================================================
 * ---------------------------------------------- Mapping --------------------------------------------------------------
 * =====================================================================================================================
 */
section.taxonomyPages strong {
    color: #5a5a5a;
}

#taxonomy_primaryLevel {

}

#taxonomy_primaryLevel {
    max-width: 100em;
}

@media (min-width: 768px) {
    #taxonomy_primaryLevel {
        display: flex;
    }
}

#taxonomy_primaryLevel li  {

}
#taxonomy_primaryLevel li.navHead  {
    list-style-type: none;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    min-width: 10em;
}
    #taxonomy_primaryLevel a.button  {
        display: block;
        margin: 0.8em 1em 0.8em 1em;
        font-size: 30px;
        border-bottom: 1px silver solid;
        text-decoration: none;

    }
    #taxonomy_primaryLevel  a.button:hover {
        border-bottom: 1px red solid;
    }

    #taxonomy_primaryLevel li.navHead ul {
        min-width: 10em;
        padding-left: 3em;
    }
        #taxonomy_primaryLevel li.navHead ul a {
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

    .taxonomyComment {
        margin-top: 2em;
    }

    .taxonomyComment blockquote{
        margin: 0.3em 0 0;
        padding: 0 0 0.1em 1em;
        border-color: silver;
        font-size: 1em;
    }



section.mappingTaxonUsersOfPage > p {
    width: 40em;
    margin-top: 2.5em;
}


/* =====================================================================================================================
 * ---------------------------------------------- User page : mapping display ------------------------------------------
 * =====================================================================================================================
 */

div.userPage_mapping ul ul {
    padding-bottom: 0.7em;
}

div.userPage_mapping > ul > li > a,
div.userPage_mapping > ul > li > a > strong {
    color: black;
}

/* =====================================================================================================================
 * ---------------------------------------------- Only for ADMIN role --------------------------------------------------
 * =====================================================================================================================
 */
.only-for-admin {
    background-color: silver;
    padding: 1em;
}
#only-for-admin_software-external-ressources {
    padding-top: 0.05em;
}
#only-for-admin_software-external-ressources td,
#only-for-admin_software-external-ressources th
{
    padding: 0.2em 0.8em;
}

/* =====================================================================================================================
 * ---------------------------------------------- Mapping Form --------------------------------------------------------------
 * =====================================================================================================================
 */

.taxonomyForm_step1_content {
    /*  max-width: 120em; */
    margin-bottom: 2em;
}

@media (min-width: 768px) {
    .taxonomyForm_step1_content {
        display: flex;
        justify-content: space-between;
    }
}

.taxonomyForm_step1_content  fieldset  {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    min-width: 10em;
    margin-right: 2em;
}

.taxonomyForm_step1_content  > fieldset > legend  {
    display: block;
    padding: 0;
    font-size: 30px;
    border-bottom: 1px silver solid;
    text-decoration: none;
}

.taxonomyForm_step1_content  fieldset div.checkbox  {
    margin: 0;
    padding: 0;
}
.taxonomyForm_step1_content label {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.taxonomyForm_step1_content input[type="checkbox"] {
    /* outline: 1px solid red;*/
    /*border: 1px solid green;*/
    /*-moz-appearance:none;*/
    /*-webkit-appearance:none;*/
    /*-o-appearance:none;*/
    -webkit-box-shadow: 0px 0px 0px 1px #c0c0c0;;
    -moz-box-shadow: 0px 0px 0px 1px #c0c0c0;;
    box-shadow: 0px 0px 0px 1px  #c0c0c0;;
}

/*
Can I change the checkbox size using CSS?
https://stackoverflow.com/questions/306924/can-i-change-the-checkbox-size-using-css
 */
@media (max-width: 1200px) {
    .taxonomyForm_step1_content input[type="checkbox"] {
        /* Double-sized Checkboxes */
        -ms-transform: scale(2); /* IE */
        -moz-transform: scale(2); /* FF */
        -webkit-transform: scale(2); /* Safari and Chrome */
        -o-transform: scale(2); /* Opera */
        transform: scale(2);

        -ms-transform: scale(1.5); /* IE */
        -moz-transform: scale(1.5); /* FF */
        -webkit-transform: scale(1.5); /* Safari and Chrome */
        -o-transform: scale(1.5); /* Opera */
        transform: scale(1.5);

        margin-top: 0.5em;
        padding: 10px;
    }
}

@media (min-width: 1201px) {
    .taxonomyForm_step1_content input[type="checkbox"] {
        /* Double-sized Checkboxes */
        -ms-transform: scale(1.5); /* IE */
        -moz-transform: scale(1.5); /* FF */
        -webkit-transform: scale(1.5); /* Safari and Chrome */
        -o-transform: scale(1.5); /* Opera */
        transform: scale(1.5);
        margin-top: 0.5em;
        padding: 10px;
    }
}

#taxonomyFormButton {
    margin-top: 1em;
    /*margin-left: 10em;*/
    margin-bottom: 1.5em;
    border: 2px solid #D9D9DE;
    font-size: 15px;
    color: #FFFFFF;
    text-decoration: #fff;
    background-color: #2A874B;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.18);
    width: 20em;
}
#taxonomyFormButton:hover {
    border: 2px solid #103e10;
}


